<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jc.javawebtutorial.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="cn.jc.javawebtutorial.modal.UserInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="cn.jc.javawebtutorial.modal.UserInfo">
    insert into user_info (id, name, age, 
      gender, create_time, update_time, 
      password)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{gender,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{password,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, age, gender, create_time, update_time, password
    from user_info
  </select>
  <resultMap id="BaseResultMap" type="cn.jc.javawebtutorial.modal.UserInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="cn.jc.javawebtutorial.modal.UserInfo">
    insert into user_info (id, name, age, 
      gender, create_time, update_time, 
      password)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{gender,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{password,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, age, gender, create_time, update_time, password
    from user_info
  </select>
</mapper>